.navbar-collapse{justify-content: flex-end;
position: relative;}

.jumbotron{
    display: flex;
       background-repeat: no-repeat
}

.work-container{display: flex;
-ms-layout-grid: grid;}


.CMImg{
    height: 20px;
}